<h1>New Product</h1>
<form action="/products/new" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="number" name="price" placeholder="Price" />
  <select name="category">
    <% categories.forEach(category => { %>
      <option value="<%= category._id %>"><%= category.name %></option>
    <% }); %>
  </select>
  <button type="submit">Create</button>
</form>
